
<% if session[:user_id] %>
<p>Welcome, <%= session[:username] %>!</p>
<p>UserID: <%= session[:user_id] %></p>

<% if session[:character_hash] == "invalid" %>
<%= p "Invalid Character" %>
<% elsif session[:character_hash] %> 
<%= character_hash["char_name"] %>

<ul>
  
<% character_hash.each do |key, value| %>
<li><%= p "#{key}: #{value}" %></li>
<% end %>
</ul>
<% end %>



<% if char_list %>
<ul>
  <% char_list.each do |char| %> 
  <li>
    <a href='/select_character/<%= char["char_id"] %>'> 
  <%= char["char_id"] %> 
  <%= char["owner_id"] %> </a>
  <%= char["char_name"] %> 
  <%= char["gamestate"] %>
  <% if char["inventory"] == 'e' %>  
  <%= "Empty" %>
  <% else %>
  <%= char["inventory"] %> 
  <% end %>


<% end %>
<% else %>
<p><a href="char_create"><%= "Create a character!" %> </a></p>
<% end %>
<% else %>
<a href="/sessions/login">Login</a> or <a href="/signup">Sign Up!</a>
<% end %>

<a href="town">Go to town.</a>


</ul>
